body{
    background-image: url(./glassesImage/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header{
    background-color: rgba(0, 0, 0, 0.836);
    color: white;
}
.glass{
    width: 100px;
}
.overplay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.2;
    z-index: -1;
}
.wrapper{
    padding: 20px 10px;
    margin: 0 auto;
    background-color: transparent;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 70%;
}
.wrappercustom{
    background-color: white;
    border: 1px solid black;
    height: 200px;
    margin-top: 10px;
}
.item{
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    margin-right: 5px;
}
.model{
    position: relative;
    width: 50%;
    background-color: transparent;

}
.model img{
    border: 1px solid black;
    width: 200px;
}
.modelglass{
    position: absolute;
    z-index: 1;
    top: 50px;
    left: 190px;
  
}
.modelglass img{
    border: none;
    width: 130px;
    opacity: 0.9;
}